body {
  margin: auto;
  padding: 0;
  max-width: 780px;
  border: solid 1px black;
  background-color: lightgrey;
  background-image: url("../asset/image/white_grid_paper-background_pattern.jpg");
}

.submit-btn {
  font-size: 0.8em;
  padding: 6px 12px;
  margin: auto;
  display: block;
  margin-top: 12px;
}

table {
  width: 100%;
  border: solid 1px grey;
}

table td, table th {
  border: solid 1px grey;
  padding: 6px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 12px;
}

footer div, footer p {
  margin: 6px 0px;
}

footer a {
  color: cyan;
  line-height: 1.5;
}

footer a span {
  color: white;
  text-decoration: none;
}

footer a:after {
  content: '|';
  margin: 0px 8px;
}

footer a:last-child:after {
  content: '';
  margin: 0px;
}

main {
  background-color: white;
  padding: 24px;
}

header {
  background-color: black;
  color: white;
  padding: 12px 0px;
  text-align: center;
}

header h1 {
  margin: 12px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav a {
  color: cyan;
  margin: 6px;
  line-height: 1.5;
}

header form#searcher {
  margin-top: 10px;
}

header form#searcher input[type='text'] {
  width: 200px;
}

header form#searcher button[type='submit'], header form#searcher input[type='text'] {
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  min-height: 25px;
  margin: 0px;
  display: inline;
}

#search-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  overflow-x: auto;
  width: 100%;
  color: black;
  text-align: left;
}

.single-book {
  width: 120px;
  margin: 12px;
}

.single-book .inner {
  height: 250px;
  cursor: pointer;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding-bottom: 6px;
  background-color: white;
  font-family: sans-serif;
}

@-webkit-keyframes moveup {
  from {
    top: 0px;
  }
  to {
    top: -160px;
  }
}

@keyframes moveup {
  from {
    top: 0px;
  }
  to {
    top: -160px;
  }
}

.single-book .inner:hover p {
  white-space: pre-wrap;
}

.single-book .inner:hover div {
  -webkit-animation: moveup 0.5s ease-out 0s 1 normal forwards;
          animation: moveup 0.5s ease-out 0s 1 normal forwards;
}

.single-book .inner:hover .hidden {
  display: block;
  font-size: 0.8em;
}

.single-book .inner:hover .title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 3.6em;
}

.single-book .inner:hover .author {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 3.6em;
}

.single-book .inner div {
  position: relative;
  top: 0px;
}

.single-book .inner img {
  height: 180px;
  width: 120px;
}

.single-book .inner p {
  margin: 0.3em 8px;
  font-size: 0.9em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2em;
}

.single-book .inner .title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  max-height: 2.4em;
}

.single-book .inner .author {
  color: #757575;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  max-height: 1.2em;
}

.single-book .inner .hidden {
  display: none;
}

.books-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.paging {
  background-color: white;
  padding: 12px 24px;
  margin: 0px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.paging a {
  color: blue;
  border: solid 1px grey;
  padding: 3px 6px;
  font-weight: 600;
  text-decoration: none;
}

.paging .disabled {
  color: grey;
}

.subheader {
  margin: 12px 0px;
}

.subheader h2 {
  margin-top: 12px;
  margin-bottom: 6px;
}

.subheader h2 span {
  text-decoration: underline;
}

.subheader:after {
  content: "------";
}

.login-form {
  max-width: 300px;
  margin: auto;
}

.login-form fieldset {
  padding: 12px;
  margin-bottom: 12vh;
  margin-top: 8vh;
  background-color: rgba(255, 255, 255, 0.5);
}

.login-form fieldset legend {
  font-size: 18px;
  padding: 0px 8px;
}

.login-form fieldset label {
  font-size: 15px;
}

.login-form fieldset input {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 6px;
  font-size: 15px;
  padding: 6px;
  color: #131313;
  background-color: #e8f0fe;
}

.login-form fieldset em {
  display: block;
  font-size: 14px;
  margin-top: 12px;
  text-align: center;
}

.login-form fieldset .warning {
  padding: 8px;
  color: white;
  background-color: darkred;
  text-align: center;
}

.login-form fieldset .warning a {
  color: white;
}

.login-form fieldset .success {
  padding: 8px;
  color: white;
  background-color: darkgreen;
  text-align: center;
}

.login-form fieldset .success a {
  color: white;
}

.top-uploaders {
  margin-bottom: 12px;
}

.top-uploaders div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.top-uploaders div a {
  display: block;
  margin: 6px;
  background-color: black;
  color: white;
  word-break: keep-all;
  text-decoration: none;
  padding: 3px 6px;
  border-radius: 5px;
}

.top-uploaders div a span {
  color: cyan;
}

.top-uploaders div a span:before {
  content: '| ';
}

.upload form {
  max-width: 400px;
  margin: auto;
}

.upload form .complete {
  margin-top: 12px;
  padding: 8px;
  text-align: center;
  color: white;
  background-color: darkgreen;
}

.upload form .error {
  margin-top: 12px;
  padding: 8px;
  text-align: center;
  color: white;
  background-color: darkred;
}

.upload form fieldset {
  margin: 24px 6px;
  padding: 16px;
}

.upload form fieldset legend {
  font-size: 18px;
}

.upload form fieldset input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 8px;
  padding: 6px;
}

.upload form fieldset input[type='file'] {
  padding: 0px;
}

.upload form fieldset select {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  padding: 3px;
}

.upload form fieldset #previewImg {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

label {
  display: block;
  margin-bottom: 6px;
  margin-top: 12px;
}

.flex-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=index.css.map */